.image-gallery-thumbnail {
    display: inline-block;
    border: 1px solid transparent;
    -webkit-transition: border .3s ease-out;
    transition: border .3s ease-out;
    width: 200px;
    opacity: 0.7;
}
.image-gallery-thumbnail.active {
    border: 1px solid #337ab7;
    opacity: inherit;
}
